.notamproj/
.notamproj
__pycache__/
__pycache__
output
files/
files
output/
test.html
legend_test.html
axis_test.html
tabstest.py
tabtest.py
tabtest.txt
wip_nuitka_test.py
wip_nuitka_test.dist
wip_nuitka_test.bin
wip_nuitka_test*